export(edu_anova_oneway)
export(edu_anova_between)
export(edu_ancova)
export(eduMancova)
export(edu_anova_mixed)
export(edu_anova_rm)
export(edu_manova)
export(edu_reliability_omega)
export(eduAnova)
export(eduAncova)
export(eduBetweenAnova)
export(edu_correlation)
export(edu_chisq_independence)
export(edu_chisq_gof)
export(eduCorrelation)
export(eduChiSquareIndependence)
export(eduChiSquareGoodness)
export(edu_lm)
export(edu_logistic_regression)
export(edu_plot)
export(eduRegression)
export(eduLogistic)
export(eduMixedAnova)
export(eduRMAnova)
export(eduReliabilityOmega)
export(edu_report)
export(edu_reporting_options)
export(edu_t_test)
export(edu_bayes_t_test)
export(edu_mann_whitney)
export(edu_wilcoxon_signed_rank)
export(eduTTest)
export(jrReportTTestIS)
export(jrReportTTestPS)
export(jrReportAnovaOneW)
export(jrReportAnova)
export(jrReportAncova)
export(jrReportLinReg)
export(edu_multinomial_logistic)
export(eduMultinomialLogistic)
export(jrReportLogRegMulti)
export(jrReportLogRegBin)
export(jrReportCorrMatrix)
export(jrReportContTables)
export(jrReportPropTestN)
export(jrReportAnovaRM)
export(jrReportReliability)
export(jrReportMancova)
S3method(plot,edu_analysis)
S3method(print,edu_analysis)
importFrom(ggplot2,aes)
importFrom(ggplot2,geom_boxplot)
importFrom(ggplot2,geom_hline)
importFrom(ggplot2,geom_point)
importFrom(ggplot2,geom_qq)
importFrom(ggplot2,geom_qq_line)
importFrom(ggplot2,geom_smooth)
importFrom(ggplot2,ggplot)
importFrom(ggplot2,labs)
importFrom(ggplot2,theme_minimal)
importFrom(R6,R6Class)
